html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    width: 100%;
    font-size: 10px;
    font-family: 'Cabin', sans-serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 35px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.navbar {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

header nav .navbar a {
    width: 15%;
    font-size: 1rem;
    text-align: center;
    margin: 5px 10px 0px 10px;   
    text-decoration: none;
    color: black;
    background-color: #4EC274;
    padding: 10px;
    border-radius: 1.5rem;
    line-height: 1rem;
}

.navbar a:hover {
    color: #4EC274;
    background-color: black;
}

div.logins {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid black 4px;
}

div.logins a {
    margin: 8px;
    align-self: center;
    font-size: .9rem;
    font-weight: bold;
    color: #4EC274;
}

.logins a:hover {
    color: darkgreen;
}

div.logins button {
    height: 35px;
    font-weight: bold;
    margin-right: 16px;
}

section.introduction {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 0, auto;
}

h1 {
    display: flex;
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    margin: 10px 0;
}

section.introduction div {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    font-size: 1.6rem;
    line-height: 2rem;
    justify-content: center;
    margin: 0% auto;
}

.join .bimg{
    width: 80%;
    display: flex;
    text-align: center;
    margin: 20px auto;
    padding: 9rem 0;
    background-image: url("Assets/join.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-content: center;
    align-items: center;
}

.bimg button {
    width: 10%;
    font-size: 1.6rem;
    color: white;
    background-color: #4EC274;
    border: solid white 3px;
    border-radius: 1.5rem;
}

.bimg button:hover {
    background-color: green;
}

footer nav {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column;
    background-color: #4EC274;
    padding: 1.8rem 0;
    line-height: 2rem;
}

footer nav a {
    color: darkgreen;
}

footer nav a:hover {
    color: white;
}

@media (max-width: 1024px) {
    @media (max-width: 1024px) {
        header nav .navbar {
            width: 90%;
        }
        
    header nav .navbar a {
        width: 18%;
        margin-left: 2px;
        margin-right: 2px;
        padding-left: 1px;
        padding-right: 1px;
    }
}

@media (max-width: 800px) {
    header nav .navbar a {
        display: flex;
        min-height: 2rem;
        max-height: 2rem;
        width: 20%;
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
        align-items: center;
    }

    .join .bimg button {
        width: 15%;
    }
}

@media (max-width: 500px) {
    .navbar {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    header nav .navbar a {
        display: flex;
        width: 100%;
        font-size: 2rem;
        padding: 5px;
        margin: 2px 5px 2px 5px;
    }

    section.introduction div {
        width: 80%;
    }

    .join .bimg {
        width: 100%;
    }

    .join .bimg button {
        width: 22%;
    }
}