html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* CODING STARTS RIGHT HERE */

body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

#heading {
    background: white;
    padding: 12px;
    height: 200px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#headcontainer {
    width: 80%;
}

#toplogo {
    vertical-align: top;
    align-self: flex-start;
    width: 200px;
    border-radius: 150px;
    padding: 10px;
}

.toptabs {
    font-size: 1.5rem;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    margin: 0 0;
}

.toptabs a {
    border: green;
    color: white;
    background-color: #4Ec274;
    margin: 5px 5px;
    padding: 10px 70px 10px 70px;
    border-style: 2px solid;
    border-radius: 1.4rem;
    text-decoration: none;
}

.toptabs a:hover {
    background-color: black;
    color: #4Ec274;
}

#headone {
    display: flex;
    font-size: 4.37rem;
    font-family: 'Cabin', sans-serif;
    height: 75px;
    text-shadow: 2px 2px 5px #4Ec274;
    margin: 10px;
    justify-content: center;
}

.login {
    font-size: 1.25rem;
    display: flex;
    align-self: flex-end;
}

#topsign {
    margin: 0 10px;
    padding: 12px;
    background: #4ec274;
    color: white;
    border-radius: 24px;
    align-self: flex-end;
    text-decoration: none;
}

#topsign:hover {
    background-color: black;
    color: #4Ec274;
}

#toplogin {
    align-self: center;
    text-decoration: none;
    color: #4Ec274;
}

#toplogin:hover {
    color: black;
}

.firstpic {
    height: 80rem;
    background-image: url("../marketing/pics/kids.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.firstpic h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.tabbuttons {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 2.187rem;
}

.goal {
    padding: 30px;
    text-align: center;
    height: 180px;
}

.goal:hover {
    background-color: rgb(164, 226, 170);
}

.container {
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.row {
    display: flex;
}

.column img {
    width: 440px;
    height: 250px;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textborder {
    height: 150px;
    width: 420px;
    padding: 10px;
}

h4 {
    font-size: 1.875rem;
}

p {
    font-size: 1.25rem;
}

#bottomcontainer {
    padding: 30px;
    text-align: center;
    height: 170px;
}

#bottomcontainer h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

#bottomcontainer a {
    width: 180px;
    padding: 17px;
    background-color: #4EC274;
    color: black;
    font-size: 1.125rem;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}

.footertabs {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #4EC274;
}

.footertabs a {
    margin-top: 7px;
    padding: 18px 0;
    line-height: 5px;
    font-size: 1.3rem;
    color: darkgreen;
    text-decoration: none;
}

.footertabs a:hover {
    color: white;
}


/* END OF THE HOME CSS Page*/


/*-------------------------------------------------------------------------------*/


/* RESPONSIVE DESIGN STARTS RIGHT HERE */

@media screen and (max-width: 1024px) {
    #heading {
        background: white;
        padding: 7px;
        height: 106px;
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    #headcontainer {
        width: 80%;
    }
    #toplogo {
        vertical-align: top;
        align-self: flex-start;
        width: 106px;
        border-radius: 80px;
        padding: 5.5px;
    }
    .toptabs {
        font-size: 0.8125rem;
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        margin: 0 0;
    }
    .toptabs a {
        border: green;
        color: white;
        background-color: #4Ec274;
        margin: 2.6px 2.6px;
        padding: 5.3px 35px 5.3px 35px;
        border-style: 2px solid;
        border-radius: 0.8rem;
        text-decoration: none;
    }
    .toptabs a:hover {
        background-color: black;
        color: #4Ec274;
    }
    #headone {
        display: flex;
        font-size: 2.375rem;
        font-family: 'Cabin', sans-serif;
        height: 40px;
        text-shadow: 2px 2px 5px #4Ec274;
        margin: 5.3px;
        justify-content: center;
    }
    .login {
        font-size: 0.6875rem;
        align-self: flex-end;
        display: flex;
    }
    #topsign {
        margin: 0 5.3px;
        padding: 6.5px;
        background: #4ec274;
        color: white;
        border-radius: 13px;
        align-self: flex-end;
        text-decoration: none;
    }
    #topsign:hover {
        background-color: black;
        color: #4Ec274;
    }
    #toplogin {
        align-self: center;
        text-decoration: none;
        color: #4Ec274;
    }
    #toplogin:hover {
        color: black;
    }
    .firstpic {
        height: 43rem;
        background-image: url("../marketing/pics/kids.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }
    .firstpic h3 {
        text-align: center;
        margin-top: 27px;
        font-size: 1.375rem;
        color: white;
        text-shadow: 2px 2px 5px black;
    }
    .tabbuttons {
        display: flex;
        flex-direction: row;
    }
    h2 {
        font-size: 1.187rem;
    }
    .goal {
        padding: 16px;
        text-align: center;
        height: 96px;
    }
    .goal:hover {
        background-color: rgb(164, 226, 170);
    }
    .container {
        background-color: rgb(255, 255, 255);
        margin-bottom: 27px;
    }
    .row {
        display: flex;
    }
    .column img {
        width: 236px;
        height: 135px;
    }
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 22px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .textborder {
        height: 97px;
        width: 225px;
        padding: 5.5px;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 0.6875rem;
    }
    #bottomcontainer {
        padding: 16px;
        text-align: center;
        height: 90px;
    }
    #bottomcontainer h2 {
        margin-top: 5.5px;
        margin-bottom: 16px;
    }
    #bottomcontainer a {
        width: 55px;
        padding: 6.5px;
        background-color: #4EC274;
        color: black;
        font-size: 0.685rem;
        text-align: center;
        margin: 2.6px 2.6px;
    }
    .footertabs {
        width: 100%;
        height: 160px;
        display: flex;
        flex-flow: column;
        text-align: center;
        background-color: #4EC274;
    }
    .footertabs a {
        margin-top: 4px;
        padding: 10px 0;
        line-height: 2.6px;
        font-size: 0.75rem;
        color: darkgreen;
        text-decoration: none;
    }
    .footertabs a:hover {
        color: white;
    }
}

@media screen and (max-width: 800px) {
    #heading {
        background: white;
        padding: 5px;
        height: 84px;
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6.25px;
    }
    #headcontainer {
        width: 80%;
    }
    #toplogo {
        vertical-align: top;
        align-self: flex-start;
        width: 84px;
        border-radius: 63px;
        padding: 4.16px;
    }
    .toptabs {
        font-size: 0.625rem;
        height: 38px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        margin: 0 0;
    }
    .toptabs a {
        border: green;
        color: white;
        background-color: #4Ec274;
        margin: 2px 2px;
        padding: 4px 30px 4px 30px;
        border-style: 2px solid;
        border-radius: 0.7rem;
        text-decoration: none;
    }
    .toptabs a:hover {
        background-color: black;
        color: #4Ec274;
    }
    #headone {
        display: flex;
        font-size: 1.875rem;
        font-family: 'Cabin', sans-serif;
        height: 32px;
        text-shadow: 2px 2px 5px #4Ec274;
        margin: 4px;
        justify-content: center;
    }
    .login {
        font-size: 0.5rem;
        align-self: flex-end;
        display: flex;
    }
    #topsign {
        margin: 0 4px;
        padding: 5px;
        background: #4ec274;
        color: white;
        border-radius: 10px;
        align-self: flex-end;
        text-decoration: none;
    }
    #topsign:hover {
        background-color: black;
        color: #4Ec274;
    }
    #toplogin {
        align-self: center;
        text-decoration: none;
        color: #4Ec274;
    }
    #toplogin:hover {
        color: black;
    }
    .firstpic {
        height: 34rem;
        background-image: url("../marketing/pics/kids.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6px;
    }
    .firstpic h3 {
        text-align: center;
        margin-top: 21px;
        font-size: 1.06rem;
        color: white;
        text-shadow: 2px 2px 5px black;
    }
    .tabbuttons {
        display: flex;
        flex-direction: row;
    }
    h2 {
        font-size: 0.937rem;
    }
    .goal {
        padding: 13px;
        text-align: center;
        height: 75px;
    }
    .goal:hover {
        background-color: rgb(164, 226, 170);
    }
    .container {
        background-color: rgb(255, 255, 255);
        margin-bottom: 21px;
    }
    .row {
        display: flex;
    }
    .column img {
        width: 184px;
        height: 105px;
    }
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 17px 7.5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .textborder {
        height: 63px;
        width: 175px;
        padding: 4px;
    }
    h4 {
        font-size: 0.81rem;
    }
    p {
        font-size: 0.5rem;
    }
    #bottomcontainer {
        padding: 12.5px;
        text-align: center;
        height: 71px;
    }
    #bottomcontainer h2 {
        margin-top: 4px;
        margin-bottom: 13px;
    }
    #bottomcontainer a {
        width: 42px;
        padding: 5px;
        background-color: #4EC274;
        color: black;
        font-size: 0.52rem;
        text-align: center;
        margin: 4px 2px;
    }
    .footertabs {
        width: 100%;
        height: 125px;
        display: flex;
        flex-flow: column;
        text-align: center;
        background-color: #4EC274;
    }
    .footertabs a {
        margin-top: 3px;
        padding: 8px 0;
        line-height: 2px;
        font-size: 9px;
        color: darkgreen;
        text-decoration: none;
    }
    .footertabs a:hover {
        color: white;
    }
}

@media screen and (max-width: 500px) {
    #heading {
        background: white;
        padding: 3px;
        height: 52px;
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
    }
    #headcontainer {
        width: 80%;
    }
    #toplogo {
        vertical-align: top;
        align-self: flex-start;
        width: 52px;
        border-radius: 39px;
        padding: 2.6px;
    }
    .toptabs {
        font-size: 0.40rem;
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        margin: 0 0;
    }
    .toptabs a {
        border: green;
        color: white;
        background-color: #4Ec274;
        margin: 1.3px 1.3px;
        padding: 2.6px 18px 2.6px 18px;
        border-style: 2px solid;
        border-radius: 0.4rem;
        text-decoration: none;
    }
    .toptabs a:hover {
        background-color: black;
        color: #4Ec274;
    }
    #headone {
        display: flex;
        font-size: 1.125rem;
        font-family: 'Cabin', sans-serif;
        height: 20px;
        text-shadow: 2px 2px 5px #4Ec274;
        margin: 2.6px;
        justify-content: center;
    }
    .login {
        font-size: 0.312rem;
        align-self: flex-end;
        display: flex;
    }
    #topsign {
        margin: 0 2.6px;
        padding: 3px;
        background: #4ec274;
        color: white;
        border-radius: 6px;
        align-self: flex-end;
        text-decoration: none;
    }
    #topsign:hover {
        background-color: black;
        color: #4Ec274;
    }
    #toplogin {
        align-self: center;
        text-decoration: none;
        color: #4Ec274;
    }
    #toplogin:hover {
        color: black;
    }
    .firstpic {
        height: 21rem;
        background-image: url("../marketing/pics/kids.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4px;
    }
    .firstpic h3 {
        text-align: center;
        margin-top: 13px;
        font-size: 0.656rem;
        color: white;
        text-shadow: 2px 2px 5px black;
    }
    .tabbuttons {
        display: flex;
        flex-direction: row;
    }
    h2 {
        font-size: 0.562rem;
    }
    .goal {
        padding: 7.8px;
        text-align: center;
        height: 47px;
    }
    .goal:hover {
        background-color: rgb(164, 226, 170);
    }
    .container {
        background-color: rgb(255, 255, 255);
        margin-bottom: 13px;
    }
    .row {
        display: flex;
    }
    .column img {
        width: 115px;
        height: 65px;
    }
    .column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px 4.5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .textborder {
        height: 39px;
        width: 109px;
        padding: 2.6px;
    }
    h4 {
        font-size: 0.5rem;
    }
    p {
        font-size: 0.312rem;
    }
    #bottomcontainer {
        padding: 7.5px;
        text-align: center;
        height: 45px;
    }
    #bottomcontainer h2 {
        margin-top: 2.5px;
        margin-bottom: 7.8px;
    }
    #bottomcontainer a {
        width: 47px;
        padding: 4.5px;
        background-color: #4EC274;
        color: black;
        font-size: 0.437rem;
        text-align: center;
        margin-top: 4px;
        text-decoration: none;
    }
    .footertabs {
        width: 100%;
        height: 78px;
        display: flex;
        flex-flow: column;
        text-align: center;
        background-color: #4EC274;
    }
    .footertabs a {
        margin-top: 1.8px;
        padding: 4.5px 0;
        line-height: 1.3px;
        font-size: 0.312rem;
        color: darkgreen;
        text-decoration: none;
    }
    .footertabs a:hover {
        color: white;
    }
}