html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*-------------------------------------------------------------------------------*/

html{
    box-sizing:border-box;
    background: #4ec274;
    font-size: 62.5%;
  }
  *,*:before,*:after{
    box-sizing:inherit;
  }

header {
    border: 2px solid black;
}
#header-box {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
#mission-statement{
    border: 2px solid blue;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user-quotes {
    border: 2px solid purple;
    font-size: 1.6em;
}
footer {
    border: 2px solid red;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}