html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*------------------------------------------------------------------------------*/

html{
    box-sizing:border-box;

    font-size: 62.5%;
  }
  *,*:before,*:after{
    box-sizing:inherit;
  }

#header-box {
  font-size: 1.6em;
  background: #4ec274;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header-box .statement {
  padding: 1em; 
  font-size: 3em;
}
#log {
  background: #4ec274; 
  font-size: 1.6em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#log-in {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
  align-self: flex-end
}
#sign-in {
  text-decoration: none;
  color: black;
}
.nav-bar {
  margin: 2em;
}
.nav-bar #home {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
}
.nav-bar #about {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
}
.nav-bar #mission {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
}
.nav-bar #recommend {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
}
.nav-bar #pom {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
}
.nav-bar #contact {
  margin: 0 1.5rem;
  padding: 1.5rem;
  background: #d6d6d6;
  text-decoration: none;
  color: #4ec274;
  border-radius: 1.5rem;
}
#header-img {
  margin : 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  font-size: 2em;
  border-bottom: 1px solid black
}
#plants {
  display: flex;
  flex-wrap: wrap;
}
#plants p {
  font-size: 1.6em;
}

#plants #snake {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#plants #spider {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#plants #lily {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#plants #succulent {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#plants #cast {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#plants #palm {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#plants #orchid {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#plants #aloe {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 1.6em;
  background: #4ec274;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-statement {
  padding: 1em;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .nav-bar #home {
    text-align: center;
    margin: 1rem 8rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #about {
    text-align: center;
    margin: 1rem 8rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #mission {
    text-align: center;
    margin: .5rem 8rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #recommend {
    text-align: center;
    margin: .5rem 8rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #pom {
    text-align: center;
    margin: .5rem 8rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #contact {
    text-align: center;
    margin: .5rem 8rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  #plants {
    display: flex;
    flex-wrap: wrap;
  }
  #plants #snake {
    width: 50%;

  }
  #plants #spider {
    width: 50%;

  }
  
  #plants #lily {
    width: 50%;

  }
  #plants #succulent {
    width: 50%;

  }
  #plants #cast {
    width: 50%;

  }
  #plants #palm {
    width: 50%;

  }
  #plants #orchid {
    width: 50%;

  }
  #plants #aloe {
    width: 50%;

  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  footer .nav-bar {
    margin: 2rem 0;
    width: 100%;
  }

}
@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #log {
    width: 90%;
  }
  footer {
    width: 100%;
  }

}
@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header {
    width: 100%;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-bar #home {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #about {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #mission {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #recommend {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #pom {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  .nav-bar #contact {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
  }
  #log {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  footer .nav-bar {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem 12rem;
  }
  footer .nav-bar #home {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
    width: 80%;
  }
  footer .nav-bar #about {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
    width: 80%;
  }
  footer .nav-bar #mission {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
    width: 80%;
  }
  footer .nav-bar #recommend {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
    width: 80%;
  }
  footer .nav-bar #pom {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
    width: 80%;
  }
  footer .nav-bar #contact {
    text-align: center;
    margin: 1rem 1rem;
    padding: 1.5rem;
    background: #d6d6d6;
    text-decoration: none;
    color: #4ec274;
    border-radius: 1.5rem;
    width: 80%;
  }


}